* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
}

.main {
  display: flex;
  /* para centrar de forma horizontal ------ */
  justify-content: center;
  /* para centrar de forma vertical | */
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #fff;
  border-radius: 16px;
  width: 340px;
  text-align: center;
}

img {
  width: 300px;
  padding: 20px;
  border-radius: 10%;
}

.main h3 {
  font-size: 25px;
}

.main p {
  margin-top: 20px;
  margin-bottom: 40px;
  color: hsl(220, 15%, 55%);
}
